#accordionSidebar {
    position: relative;
    padding-top: calc(30% - 18px);
    position: relative;
    height: 100%;
    align-items: stretch;
    top:-1%;
  }
  
  @media (max-width: 992px) {
    #accordionSidebar {
      position: relative;
      // padding-top: calc(30% - 18px);
      position: relative;
      height: 100%;
      align-items: stretch;
      // top:-1%;
    }
  }
  .sidebar > .nav-item{
    font-size: 1.4em;
  }